**/.git
**/.gitignore
**/node_modules
**/__pycache__
**/.venv
**/venv
**/env
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
**/build
**/dist
**/*.pyc
**/*.pyo
**/*.pyd
**/.coverage
**/htmlcov
.env
.env.*
!.env.example
docker-compose*.yml
README.md
